.THIS .laBtn{
  position: fixed;
  right: 50px;
  bottom:0!important;
  border:0!important;
  padding:0!important;
  min-width:200px;
}

.THIS .laBtn > div{
    padding-right: 0!important;
}

.THIS .disabled{
  background-color: #c2cacf !important;
  cursor: default !important;
  pointer-events: none;
}

.THIS .disabled:hover{
  background-color: #c2cacf !important;
  cursor: default !important;
  pointer-events: none;
}

.THIS .disabled:focus{
  background-color: #c2cacf !important;
  cursor: default !important;
  pointer-events: none;
}

.THIS .toggle {
    display: none !important;
}