.THIS.slds-section-title--divider {
    background-color: rgba(0, 0, 186, 0.5)!important;
    line-height: 1 !important;
    font-size: 1rem !important;
    color:white;
}

.THIS .slds-form-element__label {
    min-width: 100% !important;
}

.THIS .slds-form-element {
    min-width: 100%;
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}