/**
 * DalTile_Lightning - Generates the assets used for DalTile Lightning
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .slds-button--brand,
.THIS .slds-button--neutral,
.THIS .slds-button--inverse {
  /*
	slds-button--neutral
	slds-button--brand
	slds-button--inverse
	*/
  font-size: 100%;
  padding: .375rem 2.25rem;
  transition: all .25s;
  border-radius: token(borderRadiusMedium);
}
.THIS .slds-button--brand {
  border: none;
}
.THIS .slds-button--inverse:link,
.THIS .slds-button--inverse:visited {
  color: token(colorTextInverse);
}
.THIS .slds-button--inverse:hover,
.THIS .slds-button--inverse:active {
  color: token(colorTextInverse);
}
.THIS .CCEVENTSLCSVNSUMMITS_Events_Header .slds-button,
.THIS .CCEVENTSLCSVNSUMMITS_Event_Filter .slds-button,
.THIS .CCNEWSLCSVNSUMMITS_News_DisplayMode .slds-button {
  line-height: 2rem;
  padding: 4px 16px;
}
.THIS h1 {
  font-size: 2rem;
}
.THIS h2 {
  font-size: 1.875rem;
}
.THIS h3 {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.25rem;
}
.THIS h4 {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.125rem;
}
.THIS h5 {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.875rem;
}
.THIS h6 {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.625rem;
}
.THIS h1,
.THIS h2,
.THIS h3,
.THIS h4,
.THIS h5,
.THIS h6 {
  font-weight: normal;
  color: token(colorTextBrand);
}
.THIS a:link,
.THIS a:visited {
  transition: all .33s;
}
.THIS a:link svg,
.THIS a:visited svg {
  fill: token(colorTextLink);
}
.THIS .newsContainer .featuredNews {
  border: 1px solid #f1f2f3;
  border-radius: 4px;
  background-color: #f1f2f3;
}
.THIS .newsContainer .featuredNews .featuredImage {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.THIS .newsContainer .featuredNews .content .topic a {
  font-weight: 200;
  color: #606060;
}
.THIS .newsContainer .featuredNews .content .topic a:hover {
  text-decoration: none;
}
.THIS .newsContainer .featuredNews .content .newsName a {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #231f20;
}
.THIS .newsContainer .featuredNews .content .newsName a:hover {
  text-decoration: none;
}
.THIS .listView .featuredImage {
  height: 100% !important;
  border-radius: 4px 4px 0 0;
}
.THIS .CCEVENTSLCSVNSUMMITS_Event_Filter,
.THIS .CCNEWSLCSVNSUMMITS_News_Filter {
  margin-top: 0;
}
.THIS .bold {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
}
.THIS .bkg-transparent {
  background: transparent none;
}
.THIS .icon-daltile {
  display: inline-block;
  width: 125px;
  height: 37px;
  background-image: url('/sfsites/c/resource/dal_daltile_logo');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .THIS .icon-daltile {
    background-image: url('/sfsites/c/resource/dal_daltile_logo_2x');
    background-size: 125px 37px;
  }
}
.THIS .icon-marazzi {
  display: inline-block;
  width: 156px;
  height: 37px;
  background-image: url('/sfsites/c/resource/dal_marazzi_logo');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .THIS .icon-marazzi {
    background-image: url('/sfsites/c/resource/dal_marazzi_logo_2x');
    background-size: 156px 37px;
  }
}
.THIS .icon-ao {
  display: inline-block;
  width: 200px;
  height: 38px;
  background-image: url('/sfsites/c/resource/dal_ao_logo');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .THIS .icon-ao {
    background-image: url('/sfsites/c/resource/dal_ao_logo_2x');
    background-size: 200px 38px;
  }
}
.THIS .icon-ragno {
  display: inline-block;
  width: 154px;
  height: 37px;
  background-image: url('/sfsites/c/resource/dal_ragno_logo');
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .THIS .icon-ragno {
    background-image: url('/sfsites/c/resource/dal_ragno_logo_2x');
    background-size: 154px 37px;
  }
}
.THIS .dal-form .dal-form_header {
  border-bottom: 10px solid token(colorBorder);
}
.THIS .dal-form .desc {
  font-size: 0.625rem;
  color: red;
}
.THIS .dal-form h4,
.THIS .dal-form .slds-form-element__label {
  color: #231f20;
}
.THIS .orderContainer {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.THIS .dal-form-order .slds-form-element__label,
.THIS .dal-form-order .form-element__label {
  font-family: helvetica, arial, sans-serif;
  font-size: .75rem;
  display: block;
  margin-right: .75rem;
  margin-bottom: .125rem;
  white-space: nowrap;
  color: #231f20;
}
.THIS .dal-form-order .label-lg .slds-form-element__label,
.THIS .dal-form-order .label-lg .form-element__label {
  font-size: .9375rem;
}
.THIS .dal-form-order input {
  padding-top: 2px;
  padding-bottom: 2px;
}
.THIS .dal-form-order .uiInputDate .datePicker-openIcon {
  top: 10px;
}
.THIS .dal-form-order select {
  height: 36px;
}
.THIS .dal-form-order .slds-select_container select {
  width: 100%;
}
.THIS .dal-form-order button {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.THIS .dal-form-order button .lightningPrimitiveIcon {
  position: relative;
  top: -1px;
}
.THIS .dal-form-order .btnSaveContinue {
  width: 100%;
}
.THIS .dal-form-order .btnSaveContinue .slds-button + .slds-button {
  margin-left: 0;
}
@media only screen and (max-width: 64em) {
  .THIS .dal-form-order .btnSaveContinue .slds-button + .slds-button {
    margin-top: token(spacingSmall);
  }
}
@media only screen and (min-width: 64.0625em) {
  .THIS .dal-form-order .btnSaveContinue {
    justify-content: flex-end;
  }
  .THIS .dal-form-order .btnSaveContinue .slds-button + .slds-button {
    margin-left: token(spacingSmall);
  }
}
.THIS .dal-form-order .dal-buttonGroup {
  display: flex;
}
.THIS .dal-form-order .dal-buttonGroup button {
  margin: token(spacingSmall);
}
.THIS .dal-form-order .dal-buttonGroup.dal-buttonGroup-2 button {
  width: 50%;
}
@media only screen and (min-width: 64.0625em) {
  .THIS .dal-form-order .dal-buttonGroup.dal-buttonGroup-2 button {
    width: auto;
  }
}
.THIS .dal-form-order .backButton svg {
  position: relative;
  top: -1px;
  width: .9375rem;
  height: .9375rem;
  fill: #231f20;
}
@media only screen and (max-width: 47.9375em) {
  .THIS .dal-form-order input,
  .THIS .dal-form-order select {
    width: 100%!important;
  }
}
.THIS .dal-form-order h1,
.THIS .dal-form-order h2,
.THIS .dal-form-order h3,
.THIS .dal-form-order h4,
.THIS .dal-form-order h5,
.THIS .dal-form-order h6 {
  color: #231f20;
}
.THIS .dal-form-order .section-border-bottom {
  border-bottom: 10px solid token(colorBorder);
}
.THIS .dal-form-order .slds-required,
.THIS .dal-form-order .required {
  display: none;
}
.THIS .dal-form-order ul.uiInputDefaultError {
  margin-top: .5rem;
}
.THIS .dal-form-order ul.uiInputDefaultError,
.THIS .dal-form-order ul.uiInputDefaultError li {
  border: 0;
  background: transparent none;
}
.THIS .dal-form-order ul.uiInputDefaultError li {
  min-width: auto;
  margin: 0;
  text-align: left;
}
.THIS .dal-form-order .productSku {
  position: relative;
}
.THIS .dal-form-order .productSku .slds-form-element {
  width: 100%;
}
.THIS .dal-form-order .productSku .productSearch a {
  position: relative;
  top: 18px;
  left: -10px;
  display: inline-block;
  padding: 6px;
}
.THIS .dal-form-order .productSku .productSearch a svg {
  width: 18px;
  height: 18px;
  fill: #555759;
}
.THIS .dal-form-order .defaultPriceRecord-cta-label {
  position: relative;
}
.THIS .dal-form-order .defaultPriceRecord-cta-label .label-cta {
  font-size: .6875rem;
  position: absolute;
  top: 14px;
  right: 15px;
}
.THIS .dal-form-order .defaultPriceRecord-cta-label .slds-select_container {
  width: 275px;
}
@media only screen and (max-width: 47.9375em) {
  .THIS .dal-form-order .defaultPriceRecord-cta-label .slds-select_container {
    width: 100%;
  }
}
.THIS .dal-form-order .rowStriped > div:nth-child(even) {
  background: #f1f2f3;
}
.THIS .dal-form-order .rowInfo .shippingStatus {
  font-family: helvetica, arial, sans-serif;
  font-size: .9375rem;
  font-weight: bold;
  color: #05911a;
}
.THIS .dal-form-order .rowInfo .shippingStatus svg {
  position: relative;
  top: -2px;
  width: 15px;
  height: 15px;
  fill: #05911a;
}
.THIS .dal-form-order .rowInfo .shippingStatus.warning {
  color: #cf740a;
}
.THIS .dal-form-order .rowInfo .shippingStatus.warning svg {
  fill: #cf740a;
}
.THIS .dal-form-order .rowInfo .shippingStatus a {
  font-family: token(fontFamily);
  font-size: .75rem;
  display: inline-block;
  margin-left: 6px;
  color: #5f5f5f;
}
.THIS .dal-form-order .rowInfo .newWindow {
  position: relative;
  top: -2px;
  display: inline-block;
}
.THIS .dal-form-order .rowInfo .newWindow svg {
  width: 15px;
  height: 15px;
  fill: #555759;
}
.THIS .dal-form-order .orderStats {
  display: flex;
  flex-wrap: wrap;
}
.THIS .dal-form-order .orderStats dl {
  position: relative;
  top: 2px;
}
.THIS .dal-form-order .orderStats dl dt {
  font-size: .75rem;
  text-align: right;
  text-transform: uppercase;
  color: #5f5f5f;
}
.THIS .dal-form-order .orderStats dl dd {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: right;
  color: #231f20;
}
.THIS .dal-form-order .orderStats dl dd.price {
  color: #05911a;
}
@media only screen and (min-width: 64.0625em) {
  .THIS .dal-form-order .orderStats.orderStats-textLeftLarge dt,
  .THIS .dal-form-order .orderStats.orderStats-textLeftLarge dd {
    text-align: left;
  }
  .THIS .dal-form-order .orderStats.orderStats-textLeftLarge dl + dl {
    padding-left: token(spacingLarge);
  }
}
@media only screen and (max-width: 47.9375em) {
  .THIS .dal-form-order .orderStats {
    display: block;
  }
  .THIS .dal-form-order .orderStats dl {
    padding-left: 0;
  }
  .THIS .dal-form-order .orderStats dl dt,
  .THIS .dal-form-order .orderStats dl dd {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
  .THIS .dal-form-order .orderStats dl dd {
    text-align: right;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .THIS .dal-form-order .orderStats.orderStats-medium {
    display: block;
  }
  .THIS .dal-form-order .orderStats.orderStats-medium dl {
    padding-left: 0;
  }
  .THIS .dal-form-order .orderStats.orderStats-medium dl dt,
  .THIS .dal-form-order .orderStats.orderStats-medium dl dd {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
  .THIS .dal-form-order .orderStats.orderStats-medium dl dd {
    text-align: right;
  }
}
.THIS .dal-form-order .productSupply table {
  border-top: 0;
  background-color: transparent;
}
.THIS .dal-form-order .productSupply table thead th {
  font-size: .75rem;
  text-transform: uppercase;
  background-color: transparent;
}
.THIS .dal-form-order .productSupply table tbody td {
  font-size: .9375rem;
}
@media only screen and (max-width: 64em) {
  .THIS .dal-form-order .sticky-saveFooter .saveFooter > div {
    padding-top: 0;
  }
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .orderStats dl,
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .orderStats dt,
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .orderStats dd {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .orderStats dt,
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .orderStats dd {
    font-size: .75rem;
    width: auto;
    text-align: left;
  }
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .orderStats > dl:last-child,
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .orderStats dd {
    padding-left: token(spacingSmall);
  }
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .btnSaveContinue {
    justify-content: flex-end;
  }
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .btnSaveContinue button {
    width: 50%;
    margin-top: 0;
    flex: 1;
  }
  .THIS .dal-form-order .sticky-saveFooter .saveFooter .btnSaveContinue button:last-child {
    margin-left: token(spacingSmall);
  }
}
@media only screen and (max-width: 47.9375em) {
  .THIS .dal-form-order .sticky-saveFooter .orderStats {
    display: none;
  }
  .THIS .dal-form-order .sticky-saveFooter .btnSaveContinue button {
    font-size: .75rem;
    width: auto;
    padding: .5rem;
  }
}
.THIS .dal-form-order .input-xx-small input,
.THIS .dal-form-order .input-xx-small .slds-select_container {
  width: 70px;
}
.THIS .dal-form-order .input-x-small input,
.THIS .dal-form-order .input-x-small .slds-select_container {
  width: 100px;
}
.THIS .dal-form-order .input-small input,
.THIS .dal-form-order .input-small .slds-select_container {
  width: 130px;
}
.THIS .dal-form-order .input-small .datePicker-openIcon {
  right: 1.125rem;
}
.THIS .dal-form-order .input-medium input,
.THIS .dal-form-order .input-medium .slds-select_container {
  width: 160px;
}
.THIS .dal-form-order .infoInlineWithList {
  font-size: .9375rem;
  color: #555759;
}
.THIS .dal-form-order .infoInlineWithList span {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #231f20;
}
.THIS .dal-form-order dl.orderOutputDataStacked dt,
.THIS .dal-form-order .orderOutputDataLabel {
  font-size: .75rem;
  color: #5f5f5f;
}
.THIS .dal-form-order dl.orderOutputDataStacked dd {
  font-family: helvetica, arial, sans-serif;
}
.THIS .dal-form-order div.orderOutputData > label {
  font-size: .75rem;
  padding: .125rem 0;
  color: #5f5f5f;
}
.THIS .dal-form-order div.orderOutputData > span {
  font-family: helvetica, arial, sans-serif;
  font-size: .9375rem;
  padding-left: token(spacingXSmall);
}
.THIS .dal-form-order div.orderOutputData.orderOutputData-stacked > span {
  display: block;
  padding-left: 0;
}
@media only screen and (max-width: 47.9375em) {
  .THIS .dal-form-order div.orderOutputData.orderOutputData-inline_mobile {
    display: flex;
  }
  .THIS .dal-form-order div.orderOutputData.orderOutputData-inline_mobile > label {
    width: 35%;
  }
}
.THIS .dal-form-order .highlight {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.5rem;
  color: #05911a;
}
.THIS .dal-form-order .slds-list_horizontal.slds-has-block-links_space {
  margin: 0 -0.75rem;
}
.THIS .dal-form-order .slds-list_horizontal.slds-has-block-links_space li {
  border-left: 1px solid token(colorBorder);
}
.THIS .dal-form-order .slds-list_horizontal.slds-has-block-links_space li:first-child {
  border-left: 0;
}
.THIS .dal-form-order .slds-list_horizontal.slds-has-block-links_space li a {
  font-family: token(fontFamily);
  font-size: .75rem;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: underline;
  color: #5f5f5f;
}
@media only screen and (min-width: 64.0625em) {
  .THIS .slds-large-grid_align-end {
    justify-content: flex-end;
  }
  .THIS .slds-large-grid_align-start {
    justify-content: flex-start;
  }
  .THIS .slds-large-text-align_right {
    text-align: right;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .THIS .dal-medium-inputFull input,
  .THIS .dal-medium-inputThird input,
  .THIS .dal-medium-inputFull .slds-select_container,
  .THIS .dal-medium-inputThird .slds-select_container {
    width: 100%;
  }
  .THIS .dal-medium-fullWidth,
  .THIS .dal-medium-inputFull {
    width: 100%;
  }
  .THIS .dal-medium-inputThird {
    width: 33.33%;
  }
  .THIS .slds-medium-text-align_right {
    text-align: right;
  }
}
@media only screen and (max-width: 47.9375em) {
  .THIS .dal-small-inputFull input,
  .THIS .dal-small-inputHalf input,
  .THIS .dal-small-inputFull .slds-select_container,
  .THIS .dal-small-inputHalf .slds-select_container {
    width: 100%;
  }
  .THIS .dal-small-inputFull {
    width: 100%;
  }
  .THIS .dal-small-inputHalf {
    width: 50%;
  }
  .THIS .dal-small-fullWidth {
    width: 100%;
  }
}
.THIS .slds-button {
  border-radius: 4px;
}
.THIS .uiTabset--default .tabs__item > a {
  border-bottom: 4px solid transparent;
}
.THIS .uiTabset--default .tabs__item > a:hover {
  color: token(colorTextBrand);
  border-color: #555759;
}
.THIS .uiTabset--default .tabs__item.active > a {
  color: token(colorTextDefault);
  border-color: #555759;
}
.THIS .slds-dropdown {
  border: none;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 3px 0;
}
.THIS .forceCommunityTopArticleList .title {
  font-size: 1.875rem;
}
.THIS .forceCommunityTopArticleList .forceCommunityTopArticleListForTopic .topicHeader {
  margin-bottom: 0;
  padding-bottom: token(spacingXSmall);
  border-bottom: 2px solid #fafafa;
}
.THIS .forceCommunityTopArticleList .forceCommunityTopArticleListForTopic .topicHeader .topicHeaderLink {
  font-family: helvetica, arial, sans-serif;
  font-size: 1.125rem !important;
  font-weight: bold;
}
.THIS .forceCommunityTopArticleList .forceCommunityTopArticleListForTopic .topicHeader .topicHeaderLink:hover {
  text-decoration: none;
}
.THIS .forceCommunityTopArticleList .forceCommunityTopArticleListForTopic .forceCommunityTopArticleItem {
  padding: .25rem 0 !important;
  border-bottom: 2px solid #fafafa;
}
.THIS .forceCommunityTopArticleList .forceCommunityTopArticleListForTopic .forceCommunityTopArticleItem .article-title {
  font-size: .85rem;
}
.THIS .forceCommunityTopArticleList .forceCommunityTopArticleListForTopic .forceCommunityTopArticleItem .article-title-link:focus {
  box-shadow: none;
}
.THIS .forceCommunityTopArticleList .forceCommunityTopArticleListForTopic .forceCommunityTopArticleItem .article-title-link:hover {
  text-decoration: none;
}
.THIS .uiMessage {
  margin-right: 0;
  margin-left: 0;
  padding: token(spacingMedium);
}
.THIS .forceTopicFeaturedTopics .topicContent {
  background-color: rgba(241, 242, 243, 0.69);
}
.THIS .forceTopicFeaturedTopics .topicContent:hover {
  background-color: rgba(241, 242, 243, 0.88);
}
.THIS .forceTopicFeaturedTopics .topicLabel {
  font-size: 1.25rem;
  color: #231f20;
}
.THIS .topicHierarchy-topBox .topicHierarchy-child {
  font-size: 1.125rem;
  color: token(colorTextBrand);
}
.THIS .comm-topic-trending-articles li a span {
  font-size: 0.875rem;
}
.THIS .comm-topic-trending-articles li a:focus {
  box-shadow: none;
}
.THIS p,
.THIS label {
  font-size: 0.875rem;
}
.THIS .slds-input {
  font-size: 0.875rem;
  padding: .15rem;
}
.THIS .dal_acctCheckbox {
  display: flex;
}
.THIS .acctSubHeading {
  display: none;
}
.THIS .slds-required {
  float: right;
}