/**
 * DalTile_Lightning - Generates the assets used for DalTile Lightning
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */ 
.THIS {
  /* Common CSS here */
}
.THIS .dal-minHeight_medium {
  min-height: 150px;
}
.THIS .block {
  display: block; 
}
@media only screen and (min-width: 64.0625em) {
  .THIS .slds-large-grid_align-end {
    justify-content: flex-end;
  }
  .THIS .slds-large-grid_align-start {
    justify-content: flex-start;
  }
  .THIS .slds-large-text-align_right {
    text-align: right;
  }
  .THIS .dal-large-inlineBlock {
    display: inline-block;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .THIS .slds-medium-grid_align-end {
    justify-content: flex-end;
  }
  .THIS .slds-medium-text-align_right {
    text-align: right;
  }
  .THIS .dal-medium-inlineBlock {
    display: inline-block;
  }
}
@media only screen and (max-width: 47.9375em) {
  .THIS .dal-small-fullWidth {
    width: 100%;
  }
}
.THIS .outerTabs.slds-tabs_scoped .slds-tabs_scoped__content {
  border: 0;
  background: transparent none;
} 
.THIS .outerTabs.slds-tabs_scoped ul {
  max-height: 42px;
  border: 0;
  border-bottom: 1px solid token(colorBorder);
  background: transparent none;
  justify-content: center;
}
.THIS .outerTabs.slds-tabs_scoped ul li {
  min-width: 240px;
  margin: 0 .5rem;
  text-align: center;
  text-transform: none;
  border: 1px solid token(colorBorder);
  border-bottom: 0;
  background-color: #f1f2f3;
}
@media (max-width: 48em){
  .THIS .outerTabs.slds-tabs_scoped ul li > a{
    font-size: .725rem !important;
    font-weight: bold;
    color: #231f20;
    display: block;
  }
  .THIS .outerTabs.slds-tabs_scoped ul li {
    max-width: 110px;
    min-width: 80px;
    margin: 0 .15rem;
    text-align: left;
  }
  .THIS .slds-tab__scroll-controls{
    display: none;
  }

}
.THIS .outerTabs.slds-tabs_scoped ul li > a {
  font-size: 1.125rem;
  font-weight: bold;
  color: #231f20;
}
.THIS .outerTabs.slds-tabs_scoped ul li > a:focus {
  text-decoration: none;
}
.THIS .outerTabs.slds-tabs_scoped ul li.slds-active {
  margin-bottom: -1px;
  color: #231f20;
  background-color: #ffffff;
  box-shadow: -3px -2px 6px -4px rgba(0, 0, 0, 0.3), 3px -2px 6px -4px rgba(0, 0, 0, 0.3);
}
.THIS .outerTabs.slds-tabs_scoped ul li.slds-active > a {
  margin-bottom: 1px;
}

.THIS .outerTabs.slds-tabs_scoped li.slds-is-active{
    border-bottom: 1px solid #FFF;
}

.THIS .outerTabs.slds-tabs_scoped li[data-overflow="true"]{
    display:none!important;
}

.THIS .outerTabs.slds-tabs_scoped ul li.slds-active:after {
  display: none;
}
.THIS .outerTabs.slds-tabs_scoped ul li:hover:after {
  display: none;
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav {
  max-height: 42px;
  padding-bottom: 47px;
  border: 0;
  border-bottom: 10px solid #f1f2f3;
  background: transparent none;
  justify-content: center;
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li {
  min-width: 240px;
  margin: 0 .5rem;
  padding: 0;
  text-align: center;
  text-transform: none;
  border: 1px solid token(colorBorder);
  border-bottom: 0;
  background-color: #f1f2f3;
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li > a {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25em;
  padding: 6px 0 30px;
  transition: unset;
  color: #231f20;
  border-top: 10px solid transparent;
}
@media (max-width: 48em){
  .THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li {
    min-width: 120px;
  }
  .THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li > a {
    font-size: .825rem;
  }
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li > a:focus {
  text-decoration: none;
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li.slds-active {
  color: #231f20;
  background-color: #ffffff;
  box-shadow: -3px -2px 6px -4px rgba(0, 0, 0, 0.3), 3px -2px 6px -4px rgba(0, 0, 0, 0.3);
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li.slds-active > a {
  margin-bottom: 10px;
  border-top-color: token(colorBrand);
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li.slds-active:after {
  display: none;
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li:not(.slds-active).slds-has-focus:after {
  display: none;
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li:not(.slds-active) > a {
  cursor: auto;
}
.THIS .dal-tabs-manual.slds-tabs_default ul.slds-tabs_default__nav li:hover:after {
  display: none;
}
.THIS .dal-tabs-manual.slds-tabs_default .slds-tabs_default__content {
  padding: 1.5rem;
  border-left: 10px solid #f1f2f3;
}
.THIS .slds-tabs_scoped__content {
  padding-right: 0;
  padding-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.THIS .dal-selectDate {
  position: relative;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.THIS .dal-selectDate h4 {
  padding-right: 55px;
}
.THIS .dal-selectDate .form-element {
  position: absolute;
  top: 13px;
  right: 0;
}
.THIS .dal-selectDate .form-element .dal-date-picker {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: 0;
}
.THIS .dal-selectDate .form-element .datePicker-openIcon {
  position: absolute;
  top: 7px;
  right: 20px;
  width: 50px;
  height: 20px;
  text-align: center;
  background: transparent none;
}
.THIS .dal-selectDate .form-element .datePicker-openIcon:before {
  content: 'Change';
}
.THIS .dal-timePicker > div {
  display: inline-block;
  width: 50%;
  padding: token(spacingXSmall);
}

@media only screen and (min-width: 64.0625em) {
  .THIS .dal-timePicker > div {
    width: 25%;
  }
}
@media only screen and (min-width: 48em) and (max-width: 64em) {
  .THIS .dal-timePicker > div {
    width: 33.33%;
  }
}
.THIS .dal-timePicker > div button {
  font-size: 1.25rem;
  width: 100%;
  margin: 0;
  padding: .375rem .625rem;
  text-align: center;
  color: #555759;
  border: 2px solid token(colorBorder);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
.THIS .dal-timePicker > div button.selected,
.THIS .dal-timePicker > div button:hover {
  border-color: token(colorBrand);
}
.THIS .dal-timePicker > div button.disabled,
.THIS .dal-timePicker > div button.disabled.selected,
.THIS .dal-timePicker > div button.disabled:hover {
  cursor: auto;
  border-color: token(colorBorder);
  background-color: token(colorBackground);
}
.THIS .dal-radioGroup-inline .slds-radio {
  display: inline-block;
  margin-left: token(spacingSmall);
}
.THIS .dal-radioGroup-inline .slds-radio:first-child {
  margin-left: 0;
}
.THIS .dal-radioGroup-inline .slds-radio .slds-form-element__label {
  font-size: 1.125rem;
  font-weight: normal;
  display: inline-block;
}
.THIS .dal-checkbox-inline .slds-form-element__label {
  font-size: .875rem;
  position: relative;
  top: 2px;
  display: inline-block;
}
.THIS .dal-checkbox-inline .dal-checkbox-detail {
  margin-top: -8px;
  margin-left: 32px;
}
.THIS .dal-shipTo {
  position: relative;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.THIS .dal-shipTo a {
  position: absolute;
  top: 15px;
  right: 22px;
}
.THIS .dal-scheduleLineItem-columnItem {
  position: relative;
  overflow: hidden;
  padding-left: 70px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 10px solid transparent;
}
.THIS .dal-scheduleLineItem-columnItem.active {
  border-top-color: token(colorBorder);
  border-bottom-color: token(colorBorder);
  border-left-color: token(colorBrand);
}
.THIS .dal-scheduleLineItem-columnItem > p {
  font-size: .875rem;
  color: #5d5d5d;
}
.THIS .dal-scheduleLineItem-columnItem .icon-scheduledOrder {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: -1.5rem;
  margin-top: -2rem;
  opacity: .13;
  color: #555759;
}
.THIS .dal-scheduleLineItem-columnItem .icon-scheduledOrder.fa-plus {
  top: 35%;
  left: -0.375rem;
}
.THIS .dal-scheduleLineItem-tabContent {
  position: relative;
}
.THIS .dal-scheduleLineItem-tabContent h4 {
  color: #231f20;
}
.THIS .dal-scheduleLineItem-tabContent .dal-radioGroup {
  position: relative;
}
@media only screen and (min-width: 48em) {
  .THIS .dal-scheduleLineItem-tabContent .dal-radioGroup {
    padding-top: 5px;
    text-align: right;
  }
  .THIS .dal-scheduleLineItem-tabContent .dal-radioGroup .slds-form-element__control,
  .THIS .dal-scheduleLineItem-tabContent .dal-radioGroup .slds-form-element__control .slds-radio {
    display: inline-block;
  }
  .THIS .dal-scheduleLineItem-tabContent .dal-radioGroup .slds-form-element__control .slds-radio:last-child .slds-form-element__label {
    margin-right: 0;
  }
  .THIS .dal-scheduleLineItem-tabContent .dal-radioGroup lightning-radio-group {
    display: inline-block;
  }
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table {
  border-top: 0;
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table.slds-table_bordered {
  border-top: 0;
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table h4 {
  font-size: 1rem;
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table tbody tr:last-child {
  border-bottom: 1px solid token(colorBorder);
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table tbody tr.active {
  background-color: #fcf8c8;
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table .dal-checkCol {
  margin: 0;
}
@media only screen and (min-width: 48em) {
  .THIS .dal-scheduleLineItem-tabContent .dal-item-table .dal-checkCol {
    padding-right: 0;
  }
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table .dal-checkCol .slds-form-element .slds-checkbox [type='checkbox'] + .slds-checkbox__label .slds-checkbox_faux {
  margin-right: 0;
}
.THIS .dal-scheduleLineItem-tabContent .dal-item-table .dal-checkbox-lg {
  font-size: .9375rem;
}
.THIS h4,
.THIS h5 {
  font-weight: bold;
  color: #231f20;
}
.THIS h4 > span,
.THIS h5 > span {
  font-weight: normal;
}

.THIS .dal-schedule-header {
    font-size: medium;
    color: #a6a6a6;
}