/**
 * DalTile_Lightning - Generates the assets used for DalTile Lightning
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS {
  position: relative;
  color: token(colorTextInverse);
  /* Common CSS here */
  /*Fix for dots*/
}
.THIS .slider h1 {
  font-size: 1.75rem;
}
.THIS .slider h2 {
  font-size: 1rem;
  color: #ffffff;
}
@media (min-width: 48em) {
  .THIS .slider h1 {
    font-size: 2.5rem;
  }
  .THIS .slider h2 {
    font-family: helvetica, arial, sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom: 6px;
  }
  .THIS .slider p {
    font-size: 1rem;
  }
}
.THIS .slider .peak-banner-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
.THIS .slider .slds-grid {
  position: relative;
  z-index: 1;
}
.THIS .slider .slide {
  position: relative;
  z-index: 0;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 47.9375em) {
  .THIS .slider .slide {
    height: 200px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .THIS .slider .slide .btnwrapper {
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (max-width: 64em) {
  .THIS .slider .slide {
    padding: .75rem;
  }
}
.THIS .slider .slide .peak-component {
  width: 100%;
}
.THIS .slider .slick-prev {
  z-index: 100;
  left: 20px;
}
.THIS .slider .slick-next {
  z-index: 100;
  right: 20px;
}
.THIS .slider .slick-dots {
  bottom: 0;
  margin-left: 0;
  /* Fixes the visible horizontal scroll bar */
}
.THIS .slider .slick-dots li.slick-active button:before {
  color: #ffffff;
}
.THIS .slider .content {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.THIS .slider .darktext {
  color: token(colorTextDefault);
}
.THIS .slider .slds-button {
  font-family: helvetica, arial, sans-serif;
  font-size: .75rem;
  margin-right: token(spacingLarge);
  padding: 0.25rem token(spacingLarge);
  text-transform: uppercase;
}
.THIS .slider .slds-button:hover {
  color: #ffffff;
}
.THIS .slider .slds-wrap {
  height: 100%;
}
.THIS .slick-dotted.slick-slider {
  margin: 0;
}
.THIS .btnwrapper {
  margin-top: 0;
  text-align: right;
}
.THIS .btnwrapper > a.slds-button {
  margin-right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}