/**
 * DalTile_Lightning - Generates the assets used for DalTile Lightning
 * @version 1.0.0
 * @author 7Summits
 *
 * COMPILED FILE DO NOT DIRECTLY EDIT
 */
.THIS .slds-large-size--2-of-12,
.THIS .slds-large-size_2-of-12 {
  display: grid;
}
@media (min-width: 64.0625em) {
  .THIS .slds-large-size--2-of-12,
  .THIS .slds-large-size_2-of-12 {
    width: 20%;
  }
}
.THIS .item {
  min-height: 94px;
  text-align: center;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}
.THIS a:hover {
  text-decoration: none;
}
.THIS a h4 {
  color: token(colorTextDefault);
}
.THIS .fa {
  font-size: 2.8em;
}