/**
* Created by Yadav on 8/23/2018.
*/
.THIS .dal-datePicker{
    float:right;
}

.THIS .dal-datePicker label{
    color: rgb(207, 10, 44)!important;
    font-weight: normal!important;
    cursor: pointer;
    font-size: 0.875rem;
}

.THIS .dal-datePicker .slds-form-element__control input,
.THIS .dal-datePicker .slds-form-element__control input:hover,
.THIS .dal-datePicker .slds-form-element__control input:focus,
.THIS .dal-datePicker .slds-form-element__control input:active{
    border: 0!important;
    color: transparent;
    position: absolute;
    top: -20px;
    background: transparent;
    box-shadow:none;
    cursor: pointer;
}
.THIS .dal-datePicker .slds-form-element__control lightning-button-icon{
    
    height:0;
    width:0;
    padding:0;
}
.THIS .slds-input__icon.slds-input__icon_right {
    visibility: hidden;
}

.THIS .dal-datePicker .slds-form-element__control,
.THIS .dal-datePicker .slds-form-element__control:focus,
.THIS .dal-datePicker .slds-form-element__control:active{
    height:0;
    width:0;
    padding:0;
    border:0;
}
.THIS .dal-form-order .form-element__label{
	display : none;
}
.THIS .dal-form-order .uiInputDate .datePicker-openIcon{
    top: -6px;
}

@media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape){
    .THIS .uiInputDateHtml input{
         color: transparent;
            border: none;
     }
    .THIS .dal-form-order .form-element__label{
        float: right;
        color: rgb(207, 10, 44)!important;
        font-weight: normal!important;
        cursor: pointer;
        font-size: 0.975rem;
        margin-bottom: -21px;
        position: relative;
        display: grid;
    }
    .THIS h4.bold.date-format {
    	margin-top: -32px;
	}

}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .THIS .uiInputDateHtml input{
         color: transparent;
            border: none;
     }
    .THIS .dal-form-order .form-element__label{
        float: right;
        color: rgb(207, 10, 44)!important;
        font-weight: normal!important;
        cursor: pointer;
        font-size: 0.975rem;
        margin-bottom: -21px;
        position: relative;
        display: grid;
    }
    .THIS h4.bold.date-format {
    	margin-top: -32px;
	}
}
@media only screen and (max-width: 64em) and (min-width: 48em){
.THIS .uiInputDateHtml input{
         color: transparent;
            border: none;
     }
    .THIS .dal-form-order .form-element__label{
        float: right;
        color: rgb(207, 10, 44)!important;
        font-weight: normal!important;
        cursor: pointer;
        font-size: 0.975rem;
        margin-bottom: -21px;
        position: relative;
        display: grid;
    }
    .THIS h4.bold.date-format {
    	margin-top: -32px;
	}
}
@media only screen and (max-width: 30rem){
.THIS .uiInputDateHtml input{
         color: transparent;
            border: none;
     }
    .THIS .dal-form-order .form-element__label{
        float: right;
        color: rgb(207, 10, 44)!important;
        font-weight: normal!important;
        cursor: pointer;
        font-size: 0.975rem;
        margin-bottom: -21px;
        position: relative;
        display: grid;
    }
    .THIS h4.bold.date-format {
    	margin-top: -32px;
	}
}